:root {
  --main-bg-color: lightsteelblue;
  --button-selected-text-color: white;
  --content-bg-color: whitesmoke;
}

.hidden {
  display: none;
}

header {
  border-bottom: 0.05rem solid;
  background: var(--content-bg-color);
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

header h1 {
  padding-left: 0.3rem;
}

header > nav {
  padding-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0.5rem;
}

header > nav > button:disabled {
  background: var(--main-bg-color);
  color: var(--button-selected-text-color);
}

header > nav > button {
  min-width: 8em;
}

.hide-nav {
  display: none;
}

body {
  max-width: 50rem;
  margin: auto;
  padding: 0 0.2rem;
  background: var(--main-bg-color);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.screen section {
  background: var(--main-bg-color);
  padding: 0.5rem 0.5rem;
}

.screen section > p {
  margin-top: 0;
}

main {
  margin: 0;
  background: var(--content-bg-color);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  flex: 1 1 auto;
}

h2 {
  margin-top: 0;
  padding-top: 0.5em;
}

h1 {
  margin-top: 0;
  padding-top: 0.5em;
}

.screen {
  padding-bottom: 1em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: rgb(74, 74, 74);
    --button-selected-text-color: white;
    --content-bg-color: rgb(113, 120, 142);
  }

  .screen section {
    background: rgb(74, 74, 74);
  }

  body {
    color: white;
  }

  a {
    color: rgb(229, 235, 255);
  }

  a:visited {
    color: rgb(188, 197, 229);
  }
}


.hiit-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.hiit-card:hover {
  cursor: pointer;
  background-color: orange;
}

#timerDisplay {
  font-size: 8rem; /* Increase font size */
  font-weight: bold; /* Add bold font weight */
  color: #333; /* Text color */
  text-align: center; /* Center align the text */
  margin-top: 1rem; /* Add some top margin */
}

#createHiitPopup, #addWorkoutPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: green;
  color: white;
  padding: 10px;
  text-align: center;
}
